.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# VitePress
docs/.vitepress/dist
docs/.vitepress/cache
# any test file containing Mailgun keys
nodejs/test.*
# node.js environment file
nodejs/.env
