// Bootstrap and its default variables
@use '../../node_modules/bootstrap/scss/bootstrap';

/* button variant styles in seablue color */
.btn-seablue {
  background-color: #408fae;
  color: white;
}

.btn-seablue:hover {
  background-color: #0e5874;
  color: white;
}

.btn-seablue-dynamic {
  width: 71px;
  height: 28px;
  color: rgb(128, 64, 0);
  border: 1px solid #408fae;
}

.btn-seablue-dynamic:hover {
  width: 71px;
  height: 28px;
  color: rgb(128, 64, 0);
  border-left: 4px solid #fcfdfd;
}

.btn-seablueLight {
  width: 71px;
  height: 28px;
  color: rgb(179, 179, 179);
  border: 1px solid #408fae;
}

.btn-seablueLight:hover {
  width: 71px;
  height: 28px;
  color: rgb(179, 179, 179);
  border: 1px solid #408fae;
  border-left: 4px solid #fcfdfd;
}

.btn-seablueInverted {
  background-color: rgb(220, 223, 217);
  color: #408fae;
}

.btn-seablueInverted:hover {
  background-color: rgb(220, 223, 217);
  color: #408fae;
  border: 2px solid #000000;
}

.btn.btn-secondary.dropdown-toggle {
  background-color: #408fae;
  color: white;
  border-radius: 0.25rem;
}

.btn.btn-secondary.dropdown-toggle:hover {
  background-color: #0e5874;
  color: white;
  border-radius: 0.25rem;
}

/* other generic styles */
.colorBlue {
  color: #0099ff;
}

.colorGreen {
  color: #00ffcc;
}

.colorOrange {
  color: #ff9900;
}

.colorRed {
  color: red;
}

.colorSeaBlue {
  color: #408fae;
}

.colorWhite {
  color: #ffffff;
}

.colorYellow {
  color: #ffff00;
}

.text-center {
  text-align: center;
}
